spring:
  application:
    name: mCartCartService
  datasource:
    url: jdbc:mysql://localhost:3306/db_mcart
    username: root
    password: admin
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
       
eureka:
  client:
    service-url:
      defaultZone: http://localhost:2222/eureka
